 {% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation %}

<div class="ml-16 p-16 hidden md:flex">
		<div class="hidden md:flex justify-center items-center">
			<div class="grid grid-cols-5 gap-10 mt-5">
				<div class="grid gap-2 ">
					<h4>NOCH FRAGEN?</h4>
					<p><i class="fas fa-envelope"></i> info@fcsp-shop.com</p>
					<p><i class="fas fa-phone"></i> 040 317 874 888</p>
					<p><i class="fas fa-clock"></i> Mo - Fr 10 - 17:00 Uhr</p>
				</div>
				<div class="grid gap-2 ">
					<h4>SICHER BEZAHLEN</h4>
					<div class="grid grid-cols-3 gap-2">
						<img src="{{ asset('bundles/swagbasicexample/paypal.png', 'asset') }}">
						<img src="{{ asset('bundles/swagbasicexample/visa.png', 'asset') }}">
						<img src="{{ asset('bundles/swagbasicexample/mastercard.png', 'asset') }}">
						<img src="{{ asset('bundles/swagbasicexample/elv.png', 'asset') }}">
					</div>
				</div>
				<div class="grid gap-2 ">
					<h4>UNSERE STORES</h4>
					<p>Harald-Stender-Platz 1</p>
					<p>20359 Sankt Pauli</p>
					<p>Mo - Fr 10 - 17:00 Uhr</p>
				</div>
				<div class="flex items-end">
					<div class="grid grid-cols-1 gap-2 ">
						<p>Reeperbahn 63-65</p>
						<p>20359 Hamburg</p>
						<p>Mo - Fr 10 - 17:00 Uhr</p>
					</div>
				</div>
				<div class="grid gap-2 ">
					<h4>FC ST. PAULI</h4>
					<p>AGB</p>
					<p>Datenschutz</p>
					<p>Impressum</p>
				</div>
				<div class="grid gap-2 ">
					<h4>FCSP-SHOPS</h4>
					<p>Die Shops</p>
					<p>Öffnungszeiten</p>
					<p>Anfahrt</p>
				</div>
				<div class="grid gap-2 ">
					<h4>FANS & VIERTEL</h4>
					<p>Fanladen</p>
					<p>Podcast</p>
					<p>Stadtteilführung</p>
				</div>
				<div class="grid gap-2 ">
					<h4>FCSP</h4>
					<p>Team</p>
					<p>Rabauken</p>
					<p>Museum</p>
				</div>
				<div class="grid gap-2 ">
					<h4>HILFE</h4>
					<p>Bezahlung & Versand</p>
					<p>Rücksendung & Retouren</p>
					<p>FAQ</p>
				</div>
				<div class="flex items-end">
					<div class="grid grid-cols-2 gap-2">
						<img src="{{ asset('bundles/swagbasicexample/St. Pauli.png', 'asset') }}">
						<img src="{{ asset('bundles/swagbasicexample/Totenkopf_Weiss.png', 'asset') }}">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="md:hidden justify-center items-center p-4">
		<div class="grid grid-cols-6 gap-16 mt-5">
			<div class="col-span-3 whitespace-nowrap">
				<h4>NOCH FRAGEN?</h4>
				<p><i class="fas fa-envelope mr-2"></i>info@fcsp-shop.com</p>
				<p><i class="fas fa-phone mr-2"></i>040 317 874 888</p>
				<p><i class="fas fa-clock mr-2"></i>Mo - Fr 10 - 17:00 Uhr</p>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>SICHER BEZAHLEN</h4>
				<div class="grid grid-cols-3 gap-2">
					<img src="/St.-Pauli/assets/images/paypal.png" alt="" />
					<img src="/St.-Pauli/assets/images/visa.png" alt="" />
					<img src="/St.-Pauli/assets/images/mastercard.png" alt="" />
					<img src="/St.-Pauli/assets/images/elv.png" alt="" />
				</div>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>UNSERE STORES</h4>
				<p>Harald-Stender-Platz 1</p>
				<p>20359 Sankt Pauli</p>
				<p>Mo - Fr 10 - 17:00 Uhr</p>
			</div>
			<div class="flex items-end col-span-3">
				<div class="grid grid-cols-1 whitespace-nowrap">
					<p>Reeperbahn 63-65</p>
					<p>20359 Hamburg</p>
					<p>Mo - Fr 10 - 17:00 Uhr</p>
				</div>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>FC ST. PAULI</h4>
				<p>AGB</p>
				<p>Datenschutz</p>
				<p>Impressum</p>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>FCSP-SHOPS</h4>
				<p>Die Shops</p>
				<p>Öffnungszeiten</p>
				<p>Anfahrt</p>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>FANS & VIERTEL</h4>
				<p>Fanladen</p>
				<p>Podcast</p>
				<p>Stadtteilführung</p>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>FCSP</h4>
				<p>Team</p>
				<p>Rabauken</p>
				<p>Museum</p>
			</div>
			<div class="col-span-3 whitespace-nowrap">
				<h4>HILFE</h4>
				<p>Bezahlung & Versand</p>
				<p>Rücksendung & Retouren</p>
				<p>FAQ</p>
			</div>
			<div class="flex items-end col-span-3">
				<div class="grid grid-cols-2 gap-2">
					<img src="/St.-Pauli/assetsimages/St. Pauli.png" alt="" />
					<img src="/St.-Pauli/assetsimages/Totenkopf_Weiss.png" alt="" />
				</div>
			</div>
		</div>
	</div>
{% endblock %}